button{
    background: transparent;
    border: none;
    color: grey;
    color: rgba(0,0,0,0.63);
    padding-right: 15px;
   }


.mat-icon{
    color: rgba(0,0,0,0.63) !important;
    transform: translateY(20%);
}