<div class="header-container">
    <div class="header-container-space">

    </div>
    <div class="header-container-center">
        <div class="header-container-center-up">
            <div class="header-container-center-up-navimage">
            </div>
            <div class="header-container-center-up-searchbar">
              <app-search-bar></app-search-bar>
            </div>
        </div>
        <div class="header-container-center-bottom">
            <div class="header-container-center-bottom-blankSpace">
            </div>
            <div class="header-container-center-bottom-searchFilters">
                <app-search-filters></app-search-filters>
            </div>
            <div class="header-container-center-bottom-myAccountButtons">
                <app-my-account></app-my-account>
            </div>

        </div>
    </div>

    <div class="header-container-space">

    </div>
</div>
