<div class="header-container">
    <div class="header-container-space">

    </div>
    <div class="header-container-center">
        <div class="header-container-center-up">
            <div class="header-container-center-up-navimage">
            </div>
            <div class="header-container-center-up-searchbar">
              <app-search-bar></app-search-bar>
            </div>
        </div>
        <div class="header-container-center-bottom">
        </div>
    </div>

    <div class="header-container-space">

    </div>
</div>
